@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    height: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
}

body.light {
    --background-color: #eee;
    --text-color: #000;
    --hover-color: #ddd;
    --border-color: #ccc;
}

body.dark {
    --background-color: #111;
    --text-color: #fff;
    --hover-color: #222;
    --border-color: #333;
}

@media (prefers-reduced-motion: no-preference) {
    body.transition {
        transition: 0.3s ease;
    }
}

main {
    max-width: 75ch;
    padding-inline: 5%;
    padding-block: 5%;
    margin-inline: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

a,
a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
